.logo{
    width: 351px;
    height: 113px;
    margin-left: auto;
    margin-right: auto;
}

.aa{
    width: 98%;
    height: 100px;
    background-color: gray;
    padding: 10px;
    margin: 1%;
}

.search{
    margin-left: 45%;
    margin-bottom: 1%;
}

.src-button1{
    margin-left: 43%;
    float: left;
}

.src-button2{
    margin-left: 1%;
    float: left;
}

.container{
    width: 100%;
    height: 200px;
    float: left;
    margin-bottom: 20px;
}

.link{
    width: 33%;
    height: 100px;
    float: left;
    display: grid;
    place-items: center;
    background-color: aquamarine;
}
